/* -----------------------Eléments Majeurs----------------------------------- */

* {
    font-family: 'News Cycle', sans-serif;
}

header , #second , footer {
    background-color: #e6e6e6;
}

body {
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

/* -----------------------------------Nav--------------------------------------------- */

h1 , ul, li {
    display: inline-block;
}

h1 {
    width: 20%;
    font-size: 2em;
    text-decoration: none;

}

ul {
    width: 75%;
    text-align: right;
}

li {
    padding-right: 2rem;
}

li > a {
    color: #2B3F48;
}

li > a:hover {
    color: #27AE61;
}

.fas {
    display: none;
}

/* ----------------------------Sections Global settings ------------------------------------------ */

img {
    border-radius: 50%;
    padding: 1rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

section:nth-child(2n+1) h2,
section:nth-child(2n+1) p {
    color: white;
}

h3 {
    color: #b8b8b8b4;
    margin-top: 0;
}

section > a:hover {
    color: blueviolet;
}

a {
    text-decoration: none;
}

p {
    margin-top: 1.8rem;
    margin-bottom: 3rem;
}

.btnone, .btntwo, .btnthree {
    padding: 1rem;
    border-radius: 5px 5px; 
    margin-top: .5rem;
}

/* ---------------------------Sections------------------- */

#first {
    background: center /  cover no-repeat url("images/banner.png");
    background-color: #27AE61;
    padding: 5rem;
}

.btnone {
    background-color: #2B3F48;
    color: white;
}

/* ---------------------------------------------------------- */

#second {
    padding: 5rem;
}

.btntwo {
    background-color: #27AE61;
    color: white;
}

/* --------------------------------------------------------- */

#third {
    background-color: #27AE61;
    padding: 5rem;
}

.btnthree {
    background-color: white;
    color: #27AE61;
}

/* ---------------------------Formulaire------------------------------ */

h4 {
    color: #b8b8b8b4;
    font-size: 1.5rem;
}

form {
    border: solid 1px lightgray;
    background-color: #e6e6e6;
}

span {
    color: red;
}

label {
    display: block;
    margin-top: 10px;
    border-radius: none;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px 5px;
}

#mail {
    width: 71%;
}

select {
    width: 72%;
    height: 44px;
    margin-bottom: 10px;
    background-color: lightgrey;
    margin-top: 10px;
    border-radius: 5px 5px; 
    
}

textarea {
    width: 72%;
    margin-top: 10px;
    border-radius: 10px 10px;
}

#button {
    background-color: #27AE61; 
    color: white;
    border-radius: 5px 5px; 
    margin-top: .5rem;
    padding: 1rem;
}

#button:hover {
    cursor: pointer;
}

/* ---------------------------Footer------------------------------ */

footer {
    width: 100%;
    padding: 0.5rem;
    background-color: #27AE61;
}