@media screen and (max-width: 767px) {

    nav {
        display: none;
    }

    .fas {
        float: right;
        display: initial;
        padding: 2rem;
        font-size: 3rem;
    }

    #first, #second, #third {
        padding: 2rem;
    }

    /* h2, h3 {
        font-size: 1rem;
    } */

    .btnone, .btntwo, .btnthree {
        /* padding: 0rem; */
        margin-left: 25%;
    }

    p {
        text-align: justify;
    }

    footer >p {
        text-align: center;
    }

    img {
        display: inline-block;
        /* font-size: 20px; */
        width: 15%;
    }

    article:nth-child(1n) img {
        display: none;
    }
}